#wrapper {
    min-height: 100vh;
    position: relative;
    padding: 4.2rem 0 6rem;
    background: linear-gradient(135deg, #fbfdff 0, #e4e5eb 100%);
}

@media (min-width: 576px) {
    #wrapper {
        padding: 6rem 0 9rem;
    }
}